<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="col-4">
    <div class="page">


        <f:if condition="{page.overviewImages}">
            <f:then>
                <f:image image="{page.overviewImages.0}"
                         cropVariant="overview"
                         alt="{page.overviewImages.0.alternative -> f:or(alternative: page.title)}"
                         title="{page.overviewImages.0.title}" />
            </f:then>
            <f:else>
                <f:if condition="{settings.defaultImage.enable} && {settings.defaultImage.path}">
                    <img src="{f:uri.resource(path: settings.defaultImage.path)}"
                         alt="{page.title}" title="{page.title}" />
                </f:if>
            </f:else>
        </f:if>

        <a href="{page.link}"
           {f:if(condition: page.target, then: ' target="{page.target}"')}
        {f:if(condition: page.current, then: ' aria-current="page"')}
        title="{page.title}">
        <h3>{page.title}</h3>
        </a>

        <f:if condition="{page.data.tx_page_overview_desc}">
            <f:then><f:format.raw>{page.data.tx_page_overview_desc}</f:format.raw></f:then>
            <f:else><p>{page.data.description}</p></f:else>
        </f:if>

        <a href="{page.link}" class="btn btn-default w-100"
           {f:if(condition: page.target, then: ' target="{page.target}"')}
        {f:if(condition: page.current, then: ' aria-current="page"')}
        title="{page.title}">
        mehr
        </a>
    </div>
</div>
</html>
