<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns="http://www.w3.org/1999/html"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{menu}">

        <div class="page-overview">
            <div class="container">
                <div class="row">
                    <f:for each="{menu}" as="page">
                        <div class="col-4">
                            <div class="page">
                                <a href="{page.link}" class=""
                                    {f:if(condition: page.target, then: ' target="{page.target}"')}
                                    {f:if(condition: page.current, then: ' aria-current="page"')}
                                title="{page.title}">
                                    <h3>{page.title}</h3>
                                </a>
                                <p>
                                    {page.data.description}
                                </p>

                                <a href="{page.link}" class="btn btn-default w-100"
                                   {f:if(condition: page.target, then: ' target="{page.target}"')}
                                {f:if(condition: page.current, then: ' aria-current="page"')}
                                title="{page.title}">
                                    mehr
                                </a>
                            </div>
                        </div>
                    </f:for>
                </div>
            </div>
        </div>
    </f:if>

</f:section>
</html>
