<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns="http://www.w3.org/1999/html" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">
    <f:if condition="{menu}">
        <div class="page-overview">
            <div class="container">

                <f:if condition="{data.bodytext} || {data.header}">
                    <div class="row">
                        <div class="col-12">
                            <f:if condition="{data.header}">
                                <h2>{data.header}</h2>
                            </f:if>
                            <f:if condition="{data.bodytext}">
                                <f:format.raw>{data.bodytext}</f:format.raw>
                            </f:if>
                        </div>
                    </div>
                </f:if>

                <div class="row">
                    <f:for each="{menu}" as="page">
                        <f:render partial="PageItem" arguments="{page: page}" />
                    </f:for>
                </div>

            </div>
        </div>
    </f:if>
</f:section>
</html>
